/* Style adjustments for viewports 768px and over go here */

html { background:#222; overflow:scroll; }
body { background:url(../images/bg_greyNoise.png) fixed repeat #eee; color:#333; font-size:0.8em; }

#header-wrap { margin:0 auto; width:1004px; }
header {
    background:#fff;
    border-bottom:solid #bbb 1px;
    filter:none;/*progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#444',GradientType=0 ); /* IE6-9 */
    padding:0;
}
header h1,
header div.site-title {
    background-image:url(../images/dhl_banner_logo23b.png); color:#666; float:left; font-size:1.6em; text-align:left;
}
header h1 a,
header div.site-title a,
header h1 a:hover,
header div.site-title a:hover { color:#666; }

#main-nav { display:block; float:right; margin-top:1.6em; }
#main-nav ul li { float:left; margin-left:1.5em; }
#main-nav ul li a { color:#2B639E; line-height:2em; text-decoration:none; text-shadow:0 0 1.5em #666; }
#main-nav ul li a:hover { color:#D11B1B; text-decoration:underline; text-shadow:0 0 0 transparent; }

#content { margin:0 auto; width:1004px; }

#main-video { float:left; margin:0; width:640px; }

#main-video video,
#main-video iframe { border:1px solid #ccc; float:left; height:360px; margin:0; padding-bottom:0; width:640px; }
#main-video h1 { color:#D11B1B; font-size:1.6em; font-weight:bold; text-align:left; text-shadow:2px 2px #fff; }

#video-div { height:360px; }

#share-buttons { display:block; padding:0 0 1em; }
#tweet-this { float:right; position:relative; left:14px; margin-left:-14px; }

#main-video div.entry-content { font-size:1.2em; }

summary { cursor:pointer; }

details { margin:1em 0.25em 1.5em }
details p { display:block; margin:1.5em 0; }

#video-library { background:transparent; float:right; margin:4.5em 0 2em 20px; width:344px; }
#video-library h3 { border:0; color:#333; font-size:1.3em; font-weight:bold; margin:0; padding:0 0 0.5em 0.5em; text-shadow:2px 2px #fff; }
#video-library ul li { padding:0.5em 0 0.75em 0.5em; }
#video-library ul li:hover { cursor:pointer; background:#e0e0e0; }

#video-library ul li div.thumbnail { float:left; }

#video-library ul li div.description { float:left; padding:0 0 0 15px; width:220px; }

#video-library ul li div.description h4,
#video-library ul li div.description p { margin:0; }
#video-library ul li div.description h4 a {
    background:transparent;
    border:0;
    color:#333;
    filter:none;
    padding:0;
}
#video-library ul li div.description h4 a:hover { background:transparent; }
#video-library ul li div.description h4 a:active { background:transparent; }

#video-library div.thumbnail,
#video-library div.description p { display:block; }

#video-library .thumbnail,
#send-to-friend-form .thumbnail {
    border:solid #ccc 1px;
    float:left;
    height:56px;
    position:relative;
    width:100px;
}

#video-library .thumbnail .playButton,
#send-to-friend-form .thumbnail .playButton {
    -khtml-opacity:0.5;
    left:37px;
    filter:alpha(opacity=50);
    opacity:0.5;
    position:absolute;
    top:15px;
}

#footer-wrap { margin:0 auto; width:1000px; }
footer { background:#222; clear:both; margin:1em 0; padding:1.5em 0; width:100%; }
footer div.copyright { color:#666; float:left; font-size:1em; letter-spacing:0.75px; padding-bottom:1.25em; }
footer nav { display:none; float:right; }
footer nav ul li { float:left; margin-left:1.5em; }

footer nav ul li a,
footer nav ul li a:active,
footer nav ul li a:visited { color:#4E8DDC; text-decoration:none; text-shadow:-1px -1px #000; }
footer nav ul li a:hover { color:#4E8DDC; text-decoration:underline; }

/* Extras:Send To Friend Form, comments, jquery ui styles */

#share-buttons { padding:0.5em 0 0.75em; }

#wp_fb_like_button { float:right; width:80px !important; height:24px !important; margin:0 !important; }

.addthis_toolbox { float:right; }

#tweet-this { float:right; position:relative; left:14px; margin-left:-14px; }
#twitter-follow { position:absolute; right:0; top:7px; }

#send-to-friend-form { background:#fff; padding-top:1em; }
#send-to-friend-form form { padding-bottom:1.5em; }
#send-to-friend-form .field-label-pair { padding:1em 2em; }
#send-to-friend-form .field-label-pair label { display:block; font-weight:bold; padding-bottom:0.25em; }
#send-to-friend-form .field-label-pair input {
    border:solid #ddd 1px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow:inset 0 0 10px #ddd;
    -moz-box-shadow:inset 0 0 10px #ddd;
    -webkit-box-shadow:inset 0 0 10px #ddd;
    font-size:1.2em;
    padding:0.5em 0.5em;
    width:407px;
}
#send-to-friend-form .field-label-pair input:focus {
    box-shadow:0 0 10px #ccc;
    -moz-box-shadow:0 0 10px #ccc;
    -webkit-box-shadow:0 0 10px #ccc;
}
#send-to-friend-form .preview { border:dashed #ddd 1px; margin:1em 2em 0; padding:0 1em; }
#send-to-friend-form .preview p { margin:1em 0; }
#send-to-friend-form .preview a, #send-to-friend-form .preview .listing { cursor:default !important; }
#send-to-friend-form .preview .listing .description { float:left; padding:0.25em 0 0 1em; width:auto; }
#send-to-friend-form .preview .listing .description h4 a { color:#333; font-weight:bold; text-decoration:none; }
#send-to-friend-form .preview .listing .description p { margin-top:0; }
#send-to-friend-form p.error { color:#D11B1B; font-weight:bold; margin-top:0; padding:0.25em 1em; text-align:left; }
#send-to-friend-form input.error { background:#F8E0E0; border:solid #D11B1B 1px; }

#success-message { background:#fff; padding:1em 2em; }
#success-message p.success-title { font-size:1.4em; font-weight:bold; margin-bottom:1em; }
#success-message p.success { line-height:1.4em; margin-bottom:1em; }
#success-message a.close-button {
    background: none repeat scroll 0 0 #E5E5E5;
    border:2px solid #bbb;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    box-shadow:0 0 1px 1px #ccc;
    color:#777;
    cursor:pointer;
    display:inline-block;
    font-size:1.4em;
    font-weight:bold;
    margin:0.5em 0;
    padding:0.3em 0.8em 0.2em;
    text-shadow:1px 1px #fff;
}

#comments {
    background:#eee;
    border:solid #ddd 1px;
    margin:2em 0;
    padding:0 3em 2em;
}
#comments h3 { font-size:1.4em; padding:0.5em 0; }

body.home #comments { display:none; } /* hide comments on home page */

#comments .comment-author { float:left; font-size:1.1em; font-weight:bold; line-height:1.4em; }
#comments .comment-meta { color:#999; float:left; font-size:1.1em; }
#comments .commentlist { list-style-type:none; padding-left:0; }
#comments .commentlist p { font-size:1.1em; line-height:1.4em; padding-bottom:0; }
#comments .commentlist .reply { float:right; }
#comments .commentlist .reply a {
    border:1px solid #ccc;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    box-shadow:0 0 0 1px #fff;
    color:#888;
    font-size:1em;
    font-weight:bold;
    margin-left:0.5em;
    padding:2px 10px 2px;
    text-shadow:1px 1px #fff;
    text-decoration:none !important;
}
#comments .commentlist .reply a:hover { text-decoration:underline; }
#comments .comment-edit-link { color:#D11C1C; font-size:0.8em; margin-left:0.5em; text-decoration:none; }
#comments .comment-edit-link:hover { text-decoration:underline; }

#comments a { color:#2B639E; }
#comments a:hover { color:#D11B1B; }

#commentform { display:block; padding-top:1em; }
#commentform p { font-size:0.8em; padding-bottom:0.25em; }
#commentform textarea { font-size:1.4em; height:10em; width:100%; }
#commentform input[type='submit'] {
    background:#e2e2e2; /* Old browsers */
    background:-moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background:linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    border:1px solid #999;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    box-shadow:0 0 0 1px #fff;
    font-size:1.4em;
    margin:0.5em 0;
    padding:2px 10px 1px;
    text-shadow:1px 1px #fff;
}

.comment { border-bottom:solid #ddd 1px; margin-top:1em; padding:1.5em 0; }
.comment.last { border-bottom:0; }
.comment p { line-height:1.4em; }
.comment ul.children { font-size:1em !important; list-style-type:none !important; padding:0 0 0 1em !important; }
.commenter {  }
.comment-details { color:#ccc; }
.comment-reply-link { font-size:10pt; }

/* jQuery styles */

.dialog { -moz-border-radius:4px; background:#333; border:solid #333 2px; border-radius:4px; }
.ui-dialog-titlebar { -moz-border-radius:2px 2px 0 0; background:#333; border-radius:2px 2px 0 0; padding:0.6em 1em; }
.ui-dialog-title { color:#fff; font-size:1.4em; font-weight:normal; letter-spacing:1px; }
.ui-dialog-titlebar-close { display:none; }
.ui-dialog-buttonset { text-align:right; padding:0.75em 0.75em 0.65em; }
.ui-dialog-buttonset button {
    background:#e2e2e2; /* Old browsers */
    background:-moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background:linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    border:1px solid #999;
    border-radius:4px 4px 4px 4px;
    box-shadow:0 0 0 1px #fff;
    font-size:1.4em;
    margin-left:0.5em;
    padding:2px 10px 1px;
    text-shadow:1px 1px #fff;
}
.ui-dialog-buttonset button:hover {
    background:#f9eecb; /* Old browsers */
    background:-moz-linear-gradient(top,  #f9eecb 0%, #f8eabe 50%, #f6e5ac 51%, #fffefd 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9eecb), color-stop(50%,#f8eabe), color-stop(51%,#f6e5ac), color-stop(100%,#fffefd)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top,  #f9eecb 0%,#f8eabe 50%,#f6e5ac 51%,#fffefd 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top,  #f9eecb 0%,#f8eabe 50%,#f6e5ac 51%,#fffefd 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top,  #f9eecb 0%,#f8eabe 50%,#f6e5ac 51%,#fffefd 100%); /* IE10+ */
    background:linear-gradient(top,  #f9eecb 0%,#f8eabe 50%,#f6e5ac 51%,#fffefd 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9eecb', endColorstr='#fffefd',GradientType=0 ); /* IE6-9 */
    border:1px solid #999;
    box-shadow:0 0 0 1px #fff;
    text-shadow:1px 1px #fff;
}
.ui-widget-overlay { -khtml-opacity:0.6; background-color:#000; filter:alpha(opacity=60); left:0; opacity:0.6; position:absolute; top:0; }
